.btn {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &--primary {
        background-color: var(--color-primary);
        color: var(--text-white);
        z-index: 0;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--color-primary-hover);
            transform: translateX(-100%);
            transition: transform .4s ease;
            z-index: -1;
        }

        &:hover::before {
            transform: translateX(0);
        }
    }
    &--secondary {
        background-color: var(--color-secondary);
        color: var(--text-primary);
        z-index: 0;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--color-secondary-hover);
            transform: translateX(-100%);
            transition: transform .4s ease;
            z-index: -1;
        }

        &:hover::before {
            transform: translateX(0);
        }
    }
}
