.btn {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background: var(--color-primary);
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

.btn:hover {
    background: var(--color-primary-hover);
    cursor: pointer;
}
