.btn {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background: #3b82f6;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}
