.btn {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;

    &--primary {
        background-color: var(--color-primary);
        color: var(--text-white);
        // &::before {
        //     content: "";
        //     position: absolute;
        //     inset: 0;
        //     background-color: var(--color-primary-hover);
        //     transform: translateX(-100%);
        //     transition: transform 2s ease;
        //     z-index: -1;
        // }

        // &:hover::before {
        //     transform: translateX(0);
        // }
        &:hover {
            background-color: var(--color-primary-hover);
        }
    }
}
