.tab-buttons {
    padding: 8px;
    background-color: var(--color-secondary);
    width: fit-content;
    border-radius: 4px;
}
.tab-button {
    background: var(--transparent);
    border: none;
    padding: 8px 16px;
    margin-right: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: var(--text-secondary);
    transition: background-color 0.3s, color 0.3s;

    &.active {
        background-color: var(--color-primary);
        color: var(--text-white);
    }

    &:hover {
        background-color: var(--color-primary-hover);
        color: var(--text-white);
    }
}

.tab-content {
    margin-top: 16px;
    padding: 16px;
    background-color: var(--bg-surface);
    border: 1px solid var(--border-default);
    border-radius: 4px;
}
.tab-component{
    padding: 16px;
    width: fit-content;
}