
//common styles
@import './common/typography';
@import './common/root';


//components styles
@import './Component/button';
@import './Component/loading';
@import './Component/notification';
@import './Component/table';
@import './Component/modal';
@import './Component/popovers';
@import './Component/tab';
@import './Component/drawer';